* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(imagenes/Fondo_Medio_ambiente.jpg);
    background-size: cover;
    background-position: center;
}

.contenedor-login {
    background-image: url(imagenes/Fondo_Login2.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px;
    
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    height: 600px;
    
}

h2 {
    color: #00CA4E;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 300px;
    text-align: center;
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;

}

.campo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    
}

label {
    color: #4CAF50;
    font-size: 16px;
    font-weight: bold;
    width: 20%;
    text-align: left;
    margin-left: 140px;
    
}

input[type="text"],
input[type="password"] {
    
    padding: 10px;
    
    border: 2px solid #000000;
    border-radius: 5px;
    width: 30%; 
    
    
}

.recordar {
    margin-left: 140px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.recordar label {
    margin-left: 5px;
    font-size: 0.9em;
    font-weight: bold;
    color: darkgreen;
}

button {
    background-color: #00CA4E;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    width: 150px;
    margin-left: 135px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.ventana-controles {
    display: flex;
    gap: 5px; 
    position: absolute;
    top: 60px;
    left: 340px; 
}

.circulo {
    width: 12px; 
    height: 12px;
    border-radius: 50%; 
    display: inline-block;
}

.rojo {
    background-color: #FF605C; 
}

.amarillo {
    background-color: #FFBD44; 
}

.verde {
    background-color: #00CA4E; 
}


